body {
  background-color: #000;
  color: #000000;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  color: #0000ff;
  margin-bottom: 30px;
}

.div_practicas ul {
  list-style-type: none;
  padding: 0;
}

.div_practicas li {
  margin-bottom: 10px;
}

.div_practicas a {
  display: block;
  padding: 10px;
  background-color: #0000ff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.div_practicas a:hover {
  background-color: #0000cc;
}